*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    /* position: fixed; */
    height: 70px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
nav>ul{
    border: 2px solid rgb(157, 243, 8);
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

}
nav>ul>li:first-child{
    margin-right: auto;
}
nav>ul>li{
    border: 1px solid rgb(14, 1, 65);
    padding: 5px 10px;
    margin-right: 5px;
    background-color: rgb(184, 16, 16);
    border-radius: 5px;
    color:rgb(171, 163, 163);
}
nav>ul>li:hover{
    background-color: rgb(4, 89, 89);
    color: orange;
    cursor: pointer;
    /* transition: background-color 0.5s ease; */
    transition: all 0.5s ease;
    transform: scale(1.2);
}
#home{
    height: calc(100vh - 70px); /*in calc() function space are necessary otherwise it not calculate height */
    width: 100%;
    border: 5px solid red;
    display: flex ;
    align-items: center;
    justify-content: center;
}/* 
#about,#projects,#contacts{
    height: 100vh;
    width: 100%;
    border: 5px solid black;

} */

@media (max-width:768px){
      .hide{
        display: none;
      }
      .hideemoji{
        display: block;
      }
}
/* aside{
    height: 100%;
    width: 50%;
    background-color: yellow;
} */
#home>aside{
    margin: 20px;
    height: 50%;
    width: 25%;
    background-color: yellow;
    border: 3px solid black;
}
#kf{
    display: flex ;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#kf>aside{
        
        margin:10px;
        height: 200px;
        width: 200px;
        background-color: rgb(255, 5, 5);
        border: 3px solid black;
}
@media (max-width:428px){
    #home{
      flex-direction: column;  
      }
    #home > aside{
        width: 100%;
    }
}
